.button-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.change {
    font-size: 18px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #ffffff;
}

.change:active {
    background-color: #eeeeee;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 1px solid #000000;
}

.square {
    border: 1px solid hsl(0, 0%, 0%);
}

.shade10 {
    background-color: hsl(0, 0%, 90%);
}

.shade20 {
    background-color: hsl(0, 0%, 80%);
}

.shade30 {
    background-color: hsl(0, 0%, 70%);
}

.shade40 {
    background-color: hsl(0, 0%, 60%);
}

.shade50 {
    background-color: hsl(0, 0%, 50%);
}

.shade60 {
    background-color: hsl(0, 0%, 40%);
}

.shade70 {
    background-color: hsl(0, 0%, 30%);
}

.shade80 {
    background-color: hsl(0, 0%, 20%);
}

.shade90 {
    background-color: hsl(0, 0%, 10%);
}

.shade100 {
    background-color: hsl(0, 0%, 0%);
}